<%- include('partials/header')  %> 
    <div class="container d-flex justify-content-center mt-5">
        <div class="card card-dark shadow-lg border border-0" style="width: 18rem;">
            <img src="https://images.paramount.tech/uri/mgid:arc:imageassetref:bet.com:2c26adfd-c7cc-4d98-ac5a-e55b5638246e?quality=0.7" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Lil Uzi Vert</h5>
            <p class="card-text">Symere Bysil Woods, known professionally as Lil Uzi Vert, is an American rapper, singer, and songwriter. Woods is characterized by their facial tattoos, facial piercings, eccentric hairstyles and androgynous fashion, imagery built on a melodic emo approach to trap.</p>
            <a href="/albums" class="btn btn-primary">See Albums</a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>